[submodule "ext/forge"]
	path = ext/forge
	url = https://github.com/onehundredfeet/The-Forge.git
[submodule "ext/shaderc"]
	path = ext/shaderc
	url = https://github.com/google/shaderc.git
[submodule "shadercache/ext/glslang"]
	path = shadercache/ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/clhash"]
	path = ext/clhash
	url = https://github.com/lemire/clhash.git
